# =========================
# Repositorios independientes locales
# =========================

garantias-frontend/
Garantias.API/
garantias-qa/

# =========================
# Sistema operativo
# =========================

.DS_Store
Thumbs.db
Desktop.ini

# =========================
# Logs
# =========================

*.log
logs/

# =========================
# Variables de entorno
# =========================

.env
.env.*
!.env.example

# =========================
# Node / Build
# =========================

node_modules/
dist/
build/
coverage/

# =========================
# .NET
# =========================

bin/
obj/

# =========================
# Docker
# =========================

docker-compose.override.yml